/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default styles on links */
a {
  text-decoration: none;
  color: inherit;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
ul,
li,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: #101010;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.heading--primary {
  font-weight: 900;
  color: #e4e4e4;
}
@media screen and (min-width: 1919px) {
  .heading--primary {
    font-family: "Poppins", sans-serif;
    font-size: 15rem;
    line-height: 19.5rem;
  }
}
@media screen and (max-width: 1918px) {
  .heading--primary {
    font-family: "Poppins", sans-serif;
    font-size: 7.5rem;
    line-height: 10rem;
  }
}
@media screen and (max-width: 768px) {
  .heading--primary {
    font-family: "Poppins", sans-serif;
    font-size: 5rem;
    line-height: 6.5rem;
  }
}
@media screen and (max-width: 480px) {
  .heading--primary {
    font-family: "Poppins", sans-serif;
    font-size: 2.75rem;
    line-height: 4rem;
  }
}

.heading--secondary {
  font-weight: 900;
  color: #e4e4e4;
}
@media screen and (min-width: 1919px) {
  .heading--secondary {
    font-family: "Poppins", sans-serif;
    font-size: 6rem;
    line-height: 8rem;
  }
}
@media screen and (max-width: 1918px) {
  .heading--secondary {
    font-family: "Poppins", sans-serif;
    font-size: 3.15rem;
    line-height: 4.5rem;
  }
}
@media screen and (max-width: 768px) {
  .heading--secondary {
    font-family: "Poppins", sans-serif;
    font-size: 2.5rem;
    line-height: 3rem;
  }
}
@media screen and (max-width: 480px) {
  .heading--secondary {
    font-family: "Poppins", sans-serif;
    font-size: 1.21rem;
    line-height: 2rem;
  }
}
@media screen and (max-width: 352px) {
  .heading--secondary {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    line-height: 2rem;
  }
}

.heading--third {
  font-weight: 900;
  color: #e4e4e4;
  font-weight: 700;
}
@media screen and (min-width: 1919px) {
  .heading--third {
    font-family: "Poppins", sans-serif;
    font-size: 5.5rem;
    line-height: 7.5rem;
  }
}
@media screen and (max-width: 1918px) {
  .heading--third {
    font-family: "Poppins", sans-serif;
    font-size: 3.5rem;
    line-height: 5rem;
  }
}
@media screen and (max-width: 768px) {
  .heading--third {
    font-family: "Poppins", sans-serif;
    font-size: 2.7rem;
    line-height: 4rem;
  }
}
@media screen and (max-width: 480px) {
  .heading--third {
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.body--main {
  font-weight: 500;
  color: #e4e4e4;
}
@media screen and (min-width: 1919px) {
  .body--main {
    font-family: "Poppins", sans-serif;
    font-size: 4rem;
    line-height: 5.5rem;
  }
}
@media screen and (max-width: 1918px) {
  .body--main {
    font-family: "Poppins", sans-serif;
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
}
@media screen and (max-width: 768px) {
  .body--main {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    line-height: 3rem;
  }
}
@media screen and (max-width: 480px) {
  .body--main {
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    line-height: 2rem;
  }
}
@media screen and (max-width: 352px) {
  .body--main {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.body--bold {
  font-weight: 500;
  font-weight: 700;
  color: #e4e4e4;
}
@media screen and (min-width: 1919px) {
  .body--bold {
    font-family: "Poppins", sans-serif;
    font-size: 4rem;
    line-height: 5.5rem;
  }
}
@media screen and (max-width: 1918px) {
  .body--bold {
    font-family: "Poppins", sans-serif;
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
}
@media screen and (max-width: 768px) {
  .body--bold {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    line-height: 3rem;
  }
}
@media screen and (max-width: 480px) {
  .body--bold {
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    line-height: 2rem;
  }
}
@media screen and (max-width: 352px) {
  .body--bold {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

main {
  max-width: 1920px;
  margin: 0 auto;
  padding: 4rem;
}
@media screen and (max-width: 992px) {
  main {
    padding: 2rem;
    margin: 1rem;
  }
}
@media screen and (max-width: 768px) {
  main {
    padding: 1rem;
    margin: 1rem;
  }
}
@media screen and (max-width: 480px) {
  main {
    padding: 1rem;
    margin: 0.5rem;
  }
}
@media screen and (max-width: 352px) {
  main {
    padding: 0.5rem;
    margin: 0.5rem;
  }
}

.hero {
  padding-bottom: 5rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero__about {
  padding-bottom: 3rem;
}
.hero__bold {
  font-weight: 700;
  border-bottom: solid 4px yellow;
  transition: all 0.3s ease;
}
@media screen and (max-width: 480px) {
  .hero__bold {
    border-bottom: solid 2px yellow;
  }
}
.hero__bold:hover {
  background-color: yellow;
  color: #101010;
}
.hero__kola {
  font-weight: 700;
  border-bottom: solid 4px #ffff00;
}
@media screen and (max-width: 480px) {
  .hero__kola {
    border-bottom: solid 2px yellow;
  }
}/*# sourceMappingURL=main.css.map */