main {
  @include layout-padding;
}

.hero {
  padding-bottom: 5rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__about {
    padding-bottom: 3rem;
  }

  &__bold {
    font-weight: 700;
    border-bottom: solid 4px $color-yellow;
    transition: all 0.3s ease;

    @include respond-to(xs) {
      border-bottom: solid 2px $color-yellow;
    }

    &:hover {
      background-color: $color-yellow;
      color: $background-color;
    }
  }

  &__kola {
    font-weight: 700;
    border-bottom: solid 4px $color-yellow;

    @include respond-to(xs) {
      border-bottom: solid 2px $color-yellow;
    }
  }
}
