main {
  @include layout-padding;
}

.hero {
  padding-bottom: 5rem;

  &__about {
    padding-bottom: 3rem;
  }

  &__tech-stack {
    padding-bottom: 3rem;
  }

  &__bold {
    font-weight: 700;
    border-bottom: solid 4px yellow;
  }

  &__brutalist {
    background-color: yellow;
    color: $color-test-05;
    padding: 4px;
    font-weight: 700;
    transition: all 0.3s ease;

    &:hover {
      background-color: #39ff14;
    }
  }
}
