.projects{
    
    &__card{
        padding-top: 4.5rem;
        width: 100%;
        display: grid;
        grid-template-columns: auto 1fr;
        padding-bottom:  4.5rem;
        border-bottom: solid 10px $border-color;

        @include respond-to(sm){
          border-bottom: solid 7px $border-color;
          padding-bottom: 1.5rem; 
        }
        @include respond-to(xs){
          border-bottom: solid 4px $border-color;
        }
    
        @include respond-to(xxs){
          padding-bottom: 1rem; 
        }
    }


    &__card:last-child{
        border:none;
    }

    &__status{
        width: 3.5rem;
        height: 3.5rem;
        background: transparent;
        border: .5rem solid $border-color;
        border-radius: 100rem;
        margin-right: 2rem;
        margin-top: .9rem;
        transition: 0.3s;

        @include respond-to(lg){
            margin-top: .1rem;
        }

        @include respond-to(xs){
            margin-top: .01rem;
            margin-right: 1rem;
            width: 1.8rem;
            height: 1.8rem;
            border: .31rem solid $border-color;
        }

        @include respond-to(xxs){
            margin-right: .7rem;
            width: 1.5rem;
            height: 1.5rem;
            border: .3rem solid $border-color;
        }
    }

    &__title{
        @include flex-align;
        justify-content: space-between;
        cursor: pointer;
    }

    // &__name{
        
    // }

    &__links{
        @include flex;
    }

    &__link:first-child{
        margin-right: 2rem;

        @include respond-to(xs){
            margin-right: .5rem;
        }
    }

    &__link:last-child{
        margin-left: 2rem;

        @include respond-to(xs){
            margin-left: .5rem;
        }
    }

    &__link{
        font-weight:$fw-black ;
        color:$link-color;
    }

    &__link:hover{
       text-decoration: underline;
    }

    &__details{
        display: none;
        transition: 0.3s;
    }

    &__description{
        @include flex(column);
    }

    &__tags{
        @include flex;
        padding-top: 2rem;
        padding-bottom: .5rem;
    }

    &__tag{
        margin-right: 1rem;
        font-weight: $fw-xtra-bold;
    }

    &__img{
        width: 100%;
        padding-top: 2rem;
        padding-bottom: 3rem;
        border-bottom: .5rem solid $border-color;
    }

}

.opened .projects__status{
    background-color: $link-color;
}

.opened .projects__details{
    @include flex-center(column);
    flex-direction: column-reverse;
    gap: 3rem;
}