/// **** UNIVERSAL BREAKPOINTS **** ///
$breakpoints: (
    xxs:  352px,
    xs:   480px,
    sm:   768px,
    md:   992px,
    lg:   1919px,
    xl:   1920px
) !default;




/// **** LAYOUT SPACING **** ///
@mixin layout-padding{
  border: solid 10px $button-primary-bg-color;
  padding: 3rem;
  margin: 1rem;

  @include respond-to(md){
    padding: 2rem;
    margin: 1rem;
  }

  @include respond-to(sm){
    border: solid 7px $button-primary-bg-color;
    padding: 1rem;
    margin: 1rem;
  }

  @include respond-to(xs){
    border: solid 6px $button-primary-bg-color;
    padding: 1rem;
    margin: .5rem;
  }

  @include respond-to(xxs){
    padding: .5rem;
    margin: .5rem;
  }
}

// ===== Usage ===== //
//@include layout-spacing;




/// **** MEDIA QUERIES **** ///
@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $value: map-get($breakpoints, $breakpoint);
    @if $breakpoint == xl {
      @media (min-width: $value) { 
        @content; 
      }
    }
    @else {
      @media screen and (max-width: $value) {
        @content;
      }
    }
  } // If the key doesn't exist in the map
   @else {
     @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. " 
     + "Please make sure it is defined in `$breakpoints` map.";
   }
}

// ===== Usage ===== //
//@include respond-to(xxs){}
//@include respond-to(xs){}
//@include respond-to(sm){}
//@include respond-to(md){}
//@include respond-to(lg){}
//@include respond-to(xl){}


/// **** FLEX-BOX TOOLKIT **** ///
@mixin flex($flex-direction: row, $flex-wrap: nowrap){
  display: flex;
  flex-direction: $flex-direction;
  flex-wrap: $flex-wrap;
}

@mixin flex-center ($flex-direction: row) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $flex-direction;
}

@mixin flex-align($align-items: center) {
  display: flex;
  align-items: $align-items;
}

@mixin flex-justify($justify-content: center) {
  display: flex;
  justify-content: $justify-content;
}

// ===== Usage ===== //
//@include flex;
//@include flex-center;
//@include flex-align;
//@include flex-justify;
