/// **** COLORS VARIABLES  **** ///
// Descriptive naming
$color-white: #e4e4e4;
$color-cod-gray: #1e1d1d;
$color-black: #101010;
$color-yellow: #ffff00;

// Functional naming
//COMPONENTS ->
$background-color: $color-black;
$accent-color: $color-yellow;

//TYPOGRAPHY COLORS ->
$body-main-color: $color-white;
