
/// **** COLORS VARIABLES  **** ///
// Descriptive naming
$color-gray-light: #f3f3f3;
$color-gray-dark: #494949;
$color-black:#000000;
$color-white:#fefeff;
$color-cod-gray:#1E1D1D;
$color-purple-heart: #501EC4;
$color-scorpion:#585858;



// Functional naming
//COMPONENTS ->
$button-primary-bg-color:$color-cod-gray;
$hover-active-colors: $color-purple-heart;
$link-color: $color-purple-heart;



//TYPOGRAPHY COLORS ->
$body-main-color: $color-cod-gray;
$border-color:$color-cod-gray;
